/* Global style */
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Body style */
body {
    background-color: #435165;
    margin: 0;
}

/* Login and register divs */
.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    
}

/* Login and register headers */
.login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

/* Login and regsiter links */
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}

/* Login and register anchor tags */
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

/* Hover over login and register anchor tags */
.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}

/* Login and register anchor tags active */
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}

/* Login and register form */
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

/* Labels of the forms */
.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

/* Input areas of login and register forms */
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

/* Submit buttons of login and register */
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 0px;
}

/* Hover over submit buttons */
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/* Navigation bar styling: */
.navtop {
    position: relative;
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    background-color: #2f3947;
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}

/* Body loggedin class */
body.loggedin {
    background-color: #f3f4f7;
}

/* Content (main frame) */
.content {
    width: 1000px;
    margin: 0 auto;
}

/* Header of content */
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}

/* Paragraphs and divs that follow the content */
.content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}

/* Table data cells inside content */
.content > p table td, .content > div table td {
    padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}
.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

/* Loading snippet */
div#loading {
    display: none;
    background-color: #2f3947;
    width: 140px;
    padding: 10px 20px;
    color: #fff;
    cursor: wait;
    border-radius: 5px;
    font-size: 16px;
}

/* The squirrel image at the top left of the page */
#squirrelImg{
    width:100%;
    max-width:80px;
    height:auto;
    margin-right:10px;
}

/* Div that shows up after user input in login */
#user-msg{
    background-color: rgba(212, 23, 23, 0.959);
    color: white;
    width: 180px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

/* Div that shows up after user input in register */
#user-register-msg{
    background-color: rgba(212, 23, 23, 0.959);
    color: white;
    width: 225px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

/* Div that shows up after user input in reset password */
#email-warning-msg{
    text-align: center;
    background-color: #3274d6;
    border-radius: 8px;
    width: 75%;
}