{% extends 'layout.html' %} {% block title %}File Submission Page{% endblock %} {% block content %}
<style>
    /* Asterisk over the last word in required sections */
    .asterisk::after {
        content: "*";
        color: red;
    }

    /* Success and error messages divs: */
    .success-msg,
    .error-msg {
        margin: 10px 0;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
    }

    .success-msg {
        color: #270;
        background-color: #DFF2BF;
    }

    .error-msg {
        color: #D8000C;
        background-color: #FFBABA;
    }

    /* File input element */
    #file {
        margin: auto;
        padding: 80px;
        display: inline-block;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;

    }

    /* Style before the file input element */
    #file:before {
        content: attr(data-title);
        position: absolute;
        margin-left: 220px;
        margin-right: 200px;
        margin-top: -30px;
        width: 338px;
        min-height: 4em;
        line-height: 2em;
        padding-top: 1.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.35em dashed currentColor;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: visible;
        background-color: #2f3947;
        color: #c1c4c8;
        border-radius: 6px;
    }

    /* Hover before the file element */
    #file:hover:before {
        border-style: solid;
        box-shadow: inset 1px 0px 0px 0.25em currentColor;
    }

    /* Allert div that is used to display text when user submits files */
    #alert-hidden {
        margin: 10px auto;
        padding: 10px 10px;
        border-radius: 3px 3px 3px 3px;
        width: 200px;
        text-align: center;
    }

    /* Allert div that is used to display text when user submits files */
    #alert-hidden-2 {
        margin: 10px auto;
        padding: 10px 10px;
        border-radius: 3px 3px 3px 3px;
        width: 200px;
        text-align: center;
    }

    /* Submit button */
    #submitBtn {
        margin: auto;
        display: block;
        background: #2f3947;
        color: #c1c4c8;
        border: 2px solid #c1c4c8;
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 6px;
    }

    /* On submit button hover */
    #submitBtn:hover {
        background: white;
        color: black;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;

    }

    /* On submit button disabled */
    #submitBtn:disabled,
    #submitBtnton[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

    /* ZIP code input area */
    .centerInput {
        margin: auto;
        display: block;
    }

    /* Successful submission div */
    #green {
        background: #270;
        color: white;
    }

    /* Failed submission div */
    #red {
        background: #ff1f2a;
        color: white;
    }
</style>
<h2>Add a Call to be Fingerprinted</h2>
<p>Please input the audio containing the squirrel call, as well as the start and end of the call (in seconds):</p>

<div>
    <h2 class="asterisk">Select File</h2>
    <!-- Message area used to display either success or failure of submission -->
    <p>
        <!-- Messages are flashed from the server and dealt directly in the HTML via Jinja2-->
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        {% for message in messages %}

        <!-- Success message -->
    <div class="success-msg" style="text-align: center;">
        <i class="fas fa-check"><b> {{ message }} <br><br></b></i>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=['error']) %}
    {% if messages %}
    {% for message in messages %}

    <!-- Error message -->
    <div class="error-msg" style="text-align: center;">
        <i class="fas fa-times-circle"><b> {{ message }}</b></i>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </p>

    <!-- Loading snippet -->
    <div class="centerInput" id="loading" style="display:none;">
        <i style="margin-right: 10px;" class="fas fa-spinner fa-spin"></i>Loading
    </div><br><br>

    <!-- Form to add a call to be fingerprinted-->
    <form name="formpost" method="post" action="{{url_for('addcall')}}" enctype="multipart/form-data">
        <div class="container">
            <div class="file-div">

                <!-- Input area -->
                <input data-title="Click to browse or drop a file here!" id="file" type="file" name="fileChooser"
                    onchange="rename(this)" multiple="false" autocomplete="off" accept=".WAV,.wav"><br>
            </div>
        </div>

        <h2 class="asterisk">Enter Start and End Times</h2>

        <!-- Text Input Areas -->
        <div class="container">
            <input style="margin:auto;margin-top:40px;display:block;border-radius: 3.2px;" type="text" id="start"
                name="start" pattern="^[0-9]\d*(\.\d+)?$" placeholder="Start Time (s)"
                onblur="startValidation(this, false)" required>
            <div id="alert-hidden" style="visibility: hidden;"></div>
            <input style="margin:auto;margin-top:40px;display:block;border-radius: 3.2px;" type="text" id="end"
                name="end" pattern="^[0-9]\d*(\.\d+)?$" placeholder="End Time (s)" onblur="endValidation(this, false)"
                required>
            <div id="alert-hidden-2" style="visibility: hidden;"></div>
        </div>

        <!-- Submit Button-->
        <input id="submitBtn" class="centerInput" type="submit" value="Submit" onclick="javascript:submitFiles()"
            title="Select files and enter a ZIP code before proceeding." disabled="true">
    </form>
</div>

<script>
    var startValid = false;
    var endValid = false;

    function rename(element) {
        element.setAttribute("data-title", element.files.item(0).name);
        if (endValid && startValid){
            document.getElementById("submitBtn").disabled = false;
        }
    }

    startValidation = function (element, shouldReturn) {

        // If the zip entered by the user is valid
        if (/^[0-9]\d*(\.\d+)?$/.test(element.value)) {

            // ShouldReturn is passed as a flag to represent that the method is being called from the user input
            // If set to false, then the document is changed to reflect the user's input
            // Otherwise, it just returns if the zip code is valid (true) or not (false)
            if (shouldReturn) {
                return true;
            }

            let end = document.getElementById("end").value; // End time input from user

            if (endValid) {
                let endInt = parseFloat(end);
                if (endInt > parseFloat(element.value)) {
                    // Add success message to the document to alert user of the validaty of the zip code
                    document.getElementById('alert-hidden').innerHTML = '<i class="fas fa-check-circle"> The start time is valid!</i>';
                    document.getElementById('alert-hidden').style.color = '#270';
                    document.getElementById('alert-hidden').style.backgroundColor = '#DFF2BF';
                    document.getElementById('alert-hidden').style.visibility = "visible";
                    startValid = true;

                    // If file has been loaded
                    if (document.getElementById('file').files.length > 0 && endValid) {

                        // Enable the submit button and set up the title of the button
                        document.getElementById("submitBtn").disabled = false;
                        document.getElementById("submitBtn").title = "Submit current file and start/end times.";
                    }
                } else {
                    // If called from outside the HTML
                    if (shouldReturn) {
                        return false;
                    }

                    // Add error message to the document to alert the user of the unexistence of the zip code
                    document.getElementById('alert-hidden').innerHTML = '<i class="fas fa-times-circle"> The start time is NOT valid!</i>';
                    document.getElementById('alert-hidden').style.width = '250px';
                    document.getElementById('alert-hidden').style.color = 'red';
                    document.getElementById('alert-hidden').style.backgroundColor = '#f18888';
                    document.getElementById('alert-hidden').style.visibility = "visible";
                    document.getElementById("submitBtn").disabled = true;
                    document.getElementById("submitBtn").title = "Select a file and enter the start and end times before proceeding.";
                    startValid = false;
                }
            } else {

                // Add success message to the document to alert user of the validaty of the zip code
                document.getElementById('alert-hidden').innerHTML = '<i class="fas fa-check-circle"> The start time is valid!</i>';
                document.getElementById('alert-hidden').style.color = '#270';
                document.getElementById('alert-hidden').style.backgroundColor = '#DFF2BF';
                document.getElementById('alert-hidden').style.visibility = "visible";
                startValid = true;

                // If file has been loaded
                if (document.getElementById('file').files.length > 0 && endValid) {

                    // Enable the submit button and set up the title of the button
                    document.getElementById("submitBtn").disabled = false;
                    document.getElementById("submitBtn").title = "Submit current file and start/end times.";
                }
            }
        }

        // If the number entered is not valid
        else {

            // If called from outside the HTML
            if (shouldReturn) {
                return false;
            }

            // Add error message to the document to alert the user of the unexistence of the zip code
            document.getElementById('alert-hidden').innerHTML = '<i class="fas fa-times-circle"> The start time is NOT valid!</i>';
            document.getElementById('alert-hidden').style.width = '250px';
            document.getElementById('alert-hidden').style.color = 'red';
            document.getElementById('alert-hidden').style.backgroundColor = '#f18888';
            document.getElementById('alert-hidden').style.visibility = "visible";
            document.getElementById("submitBtn").disabled = true;
            document.getElementById("submitBtn").title = "Select a file and enter the start and end times before proceeding.";
            startValid = false;
        }

    }

    endValidation = function (element, shouldReturn) {
        // If the zip entered by the user is valid
        if (/^[0-9]\d*(\.\d+)?$/.test(element.value)) {

            // ShouldReturn is passed as a flag to represent that the method is being called from the user input
            // If set to false, then the document is changed to reflect the user's input
            // Otherwise, it just returns if the zip code is valid (true) or not (false)
            if (shouldReturn) {
                return true;
            }

            let start = document.getElementById("start").value;

            if (startValid) {
                let startInt = parseFloat(start);
                if (startInt < parseFloat(element.value)) {
                    // Add success message to the document to alert user of the validaty of the zip code
                    document.getElementById('alert-hidden-2').innerHTML = '<i class="fas fa-check-circle"> The end time is valid!</i>';
                    document.getElementById('alert-hidden-2').style.color = '#270';
                    document.getElementById('alert-hidden-2').style.backgroundColor = '#DFF2BF';
                    document.getElementById('alert-hidden-2').style.visibility = "visible";
                    endValid = true;

                    // If files have been loaded
                    if (document.getElementById('file').files.length > 0 && startValid) {

                        // Enable the submit button and set up the title of the button
                        document.getElementById("submitBtn").disabled = false;
                        document.getElementById("submitBtn").title = "Submit current file and start/end times.";
                    }
                } else {
                    // If called from outside the HTML
                    if (shouldReturn) {
                        return false;
                    }

                    // Add error message to the document to alert the user of the unexistence of the zip code
                    document.getElementById('alert-hidden-2').innerHTML = '<i class="fas fa-times-circle"> The end time is NOT valid!</i>';
                    document.getElementById('alert-hidden-2').style.width = '250px';
                    document.getElementById('alert-hidden-2').style.color = 'red';
                    document.getElementById('alert-hidden-2').style.backgroundColor = '#f18888';
                    document.getElementById('alert-hidden-2').style.visibility = "visible";
                    document.getElementById("submitBtn").disabled = true;
                    document.getElementById("submitBtn").title = "Select a file and enter the start and end times before proceeding.";
                    endValid = false;
                }
            } else {

                // Add success message to the document to alert user of the validaty of the zip code
                document.getElementById('alert-hidden-2').innerHTML = '<i class="fas fa-check-circle"> The end time is valid!</i>';
                document.getElementById('alert-hidden-2').style.color = '#270';
                document.getElementById('alert-hidden-2').style.backgroundColor = '#DFF2BF';
                document.getElementById('alert-hidden-2').style.visibility = "visible";
                endValid = true;

                // If files have been loaded
                if (document.getElementById('file').files.length > 0 && startValid) {

                    // Enable the submit button and set up the title of the button
                    document.getElementById("submitBtn").disabled = false;
                    document.getElementById("submitBtn").title = "Submit current file and start/end times.";
                }
            }
        }

        // If the zip entered is not valid
        else {

            // If called from outside the HTML
            if (shouldReturn) {
                return false;
            }

            // Add error message to the document to alert the user of the unexistence of the zip code
            document.getElementById('alert-hidden-2').innerHTML = '<i class="fas fa-times-circle"> The end time is NOT valid!</i>';
            document.getElementById('alert-hidden-2').style.width = '250px';
            document.getElementById('alert-hidden-2').style.color = 'red';
            document.getElementById('alert-hidden-2').style.backgroundColor = '#f18888';
            document.getElementById('alert-hidden-2').style.visibility = "visible";
            document.getElementById("submitBtn").disabled = true;
            document.getElementById("submitBtn").title = "Select a file and enter the start and end times before proceeding.";
            endValid = false;
        }
    }

    // When user submits the files, this method is called
    submitFiles = function () {
        const isEmpty = str => !str.trim().length;
        var input = document.getElementById('file').files;

        // If more than one file has been uploaded and the ZIP code input area has been filled
        if (input.length > 0) {
            if (input.item(0).type != "audio/wav") {
                alert("Only .wav files are supported, please upload a .wav file to succesfully fingerprint a squirrel call!")
            } else {
                $('#loading').show();
            }
        }

        // Scroll to top of document so that user sees the loading button
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}