<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <div class="login">
        <h1>Reset Password</h1>
        <form action="{{ url_for('reset_request_email') }}" method="post">
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
            <div class="msg">
				{% with messages = get_flashed_messages(category_filter=['error']) %}
				{% if messages %}
				{% for message in messages %}
					<div id="user-msg">{{ message }}</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				<br>
            </div>
            <input type="submit" value="Send Token">
        </form>
    </div>
</body>

</html>