<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login to Squirrel Calls App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="icon" href="/static/sq.png" type="image/x-icon">
</head>

<body>

	<!-- Div containing login form -->
	<div class="login">
		<h1>Login</h1>

		<!-- Links to login and register pages -->
		<div class="links">
			<a href="{{ url_for('login') }}" class="active">Login</a>
			<a href="{{ url_for('register') }}">Register</a>
		</div>

		<!-- Login form -->
		<form action="{{ url_for('login') }}" method="post">
			<label for="username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>

			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password"  required>

			<!-- Message flashed from the server after user input -->
			<div class="msg">
				{% with messages = get_flashed_messages(category_filter=['error']) %}
				{% if messages %}
				{% for message in messages %}
					<div id="user-msg">{{ message }}</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				<br>
				<div style="text-align: center;"><a href="{{ url_for('forget') }}">Forgot Password?</a></div>
			</div>

			<!-- Submit button -->
			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>