<!DOCTYPE html>

<!-- General layout page -->

<html>

<head>
    <meta charset="utf-8">
    <!-- Each page that extends this layout can have its own title -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" href="/static/sq.png" type="image/x-icon">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        
</head>

<body class="loggedin">
    <div>

        <!-- Navigation bar -->
        <nav class="navtop">
            <div>
                <img id="squirrelImg" src="/static/sq.png"/>
                <h1>Squirrel Calls Identifier Application</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
                <a href="{{ url_for('results', number=1) }}"><i class="fas fa-archive"></i>Results</a>
                <a href="{{ url_for('fingerprinter') }}"><i class="fas fa-plus"></i>Add a Call</a>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </div>
        </nav>
    </div>

    <!-- Each page that extends this layout can have its own content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>