<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Register to Squirrel Calls App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="icon" href="/static/sq.png" type="image/x-icon">
</head>

<body>

	<!-- Div containing regsiter form -->
	<div class="register">
		<h1>Register</h1>

		<!-- Links to login and register page -->
		<div class="links">
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('register') }}" class="active">Register</a>
		</div>

		<!-- Register form -->
		<form action="{{ url_for('register') }}" method="post" autocomplete="off">
			<label for="username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" pattern="^[A-Za-z0-9]+$"
				title="Username must contain only characters and numbers" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>

			<!-- Force password to match a specific pattern -->
			<input type="password" name="password" placeholder="Password" id="password"
				pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}"
				title="Password must be at least 6 characters, one capital letter, one number, and one special character" required>
			<label for="email">
				<i class="fas fa-envelope"></i>
			</label>
			<input type="email" name="email" placeholder="Email" id="email" required>

			<!-- Message flashed after user submits the form -->
			<div class="msg">
				{% with messages = get_flashed_messages(category_filter=['error']) %}
				{% if messages %}
				{% for message in messages %}
				<div id="user-register-msg">{{ message }}</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</div>

			<!-- Submit button -->
			<input type="submit" value="Register">
		</form>
	</div>
</body>

</html>