<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Enter Token & New Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" href="/static/sq.png" type="image/x-icon">
</head>

<body>
    
    <!-- Keep same style as the login form -->
    <div class="login">
        <h1>Enter Token & Reset Password</h1>

        <!-- Token form -->
        <form action="{{ url_for('reset') }}" method="post">
            <label for="token">
                <i class="fa fa-key"></i>
            </label>
            <input type="text" name="token" placeholder="Token" id="token" required>

            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}"
            title="Password must be at least 6 characters, one capital letter, one number, and one special character" required>

            <label for="password-2">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password-2" placeholder="Re-enter Password" id="password-2" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}"
            title="Password must be at least 6 characters, one capital letter, one number, and one special character" required>
            <input type="hidden" name="hidden-email" value={{email_msg}}>

            <!-- Message flashed after user submits the form -->
            <p id="email-warning-msg" style="text-align:center">{{ msg }}<br>{{ email_msg }} <br>{{ end_msg }}</p>
            <input type="submit" value="Submit New Password">
        </form>
    </div>
</body>

</html>