{% extends 'layout.html' %}

{% block title %}Results{% endblock %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table th {
        background-color: #4a536e;
        color: #c1c4c8;
    }

    table td,
    table th {
        border: 1px solid #ddd;
        text-align: center;
    }

    tr:hover {
        box-shadow: 0px 9px 4px -6px grey;
    }

    tr:hover td {
        cursor: pointer;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    .modal-content {
        margin: auto;
        display: block;
        max-width: 1000px;
        height: auto;
        width: 900px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 350px;
    }

    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    #nav a {
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        background-color: #4a536e;
        color: #eaebed;
    }
</style>
<h2>Results Page</h2>
<div>
    <h2>Results of All Squirrel Calls Recordings</h2>
    <div>
        <p></p>
    </div>
    <table class="sortable" id="data">
        <thead>
            <tr>
                <th>ID #</th>
                <th>File name</th>
                <th>ZIP code</th>
                <th>Date</th>
                <th>Match / No Match</th>
                <th>Spectrogram</th>
            </tr>
        </thead>
        <tbody>
            {% if results|length == 0 %}
            <tr>
                <td colspan="6">No data to be displayed yet!</td>
            </tr>
            {% else %}
            {% for result in results %}
            {% if 'NEW' in result %}
            <tr style="background-color: rgb(97, 170, 97);color:white;">
                <td>{{ result.ID }}</td>
                <td>{{ result.FILENAME }}</td>
                <td>{{ result.ZIP }}</td>
                <td>{{ result.THEDATE }}</td>
                {% if result.ISMATCH == 1 %}
                <td>Match</td>
                <td><a href="#" name="id-{{result.ID}}" data-name="{{result.MATCHTIME}}" class="myImages">Click here to see the spectrogram
                        <img id="id-{{result.ID}}" src="{{result.SPECTROGRAM}}" alt="id-{{result.FILENAME}}"
                            style="display:none;"></td></a>
                {% else %}
                <td>No Match</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td>{{ result.ID }}</td>
                <td>{{ result.FILENAME }}</td>
                <td>{{ result.ZIP }}</td>
                <td>{{ result.THEDATE }}</td>
                {% if result.ISMATCH == 1 %}
                <td>Match</td>
                <td><a href="#" name="id-{{result.ID}}" data-name="{{result.MATCHTIME}}" class="myImages">Click here to see the spectrogram
                        <img id="id-{{result.ID}}" src="{{result.SPECTROGRAM}}" alt="id-{{result.FILENAME}}"
                            style="display:none;"></td></a>
                {% else %}
                <td>No Match</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <br><br>
    <div id="nav">
        <a id="arrow" href="{{ url_for('results', number=1) }}">First</a>
        {% if prev_page > 0 %}
        <a id="arrow" href="{{ url_for('results', number=prev_page) }}">Previous</a>
        {% else %}
        <a id="arrow" href="{{ url_for('results', number=active_page) }}">Previous</a>
        {% endif %}

        {% for page_number in pages %}
        {% if page_number == active_page %}
        <a style="color: #4a536e; background-color:#eaebed;-moz-box-shadow: 0 0 5px 5px #888;-webkit-box-shadow: 0 0 5px 5px#888;box-shadow: 0 0 5px 5px #888;"
            class="active-tab" href="{{ url_for('results', number=page_number) }}">{{ page_number }}</a>
        {% else %}
        <a class="page-number-tab" href="{{ url_for('results', number=page_number) }}">{{ page_number }}</a>
        {% endif %}
        {% endfor %}

        {% if next_page < last_page %} <a id="arrow" href="{{ url_for('results', number=next_page) }}">Next</a>
            {% else %}
            <a id="arrow" href="{{ url_for('results', number=last_page) }}">Next</a>
            {% endif %}
            <a id="arrow" href="{{ url_for('results', number=last_page) }}">Last</a>
    </div>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>
<script>
    // create references to the modal...
    var modal = document.getElementById('myModal');
    // to all images -- note I'm using a class!
    var images = document.getElementsByClassName('myImages');
    // the image in the modal
    var modalImg = document.getElementById("img01");
    // and the caption in the modal
    var captionText = document.getElementById("caption");

    // Go through all of the images with our custom class
    for (var i = 0; i < images.length; i++) {
        var img = images[i];
        // and attach our click listener for this image.
        img.onclick = function (evt) {
            modal.style.display = "block";
            modalImg.src = document.getElementById(this.name).src;
            captionText.innerHTML = "Match found at " + this.getAttribute("data-name") + " second(s).";
        }
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
{% endblock %}