<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Password Updated</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" href="/static/sq.png" type="image/x-icon">
</head>

<body>
    <div class="login">
        <h1>Password Updated</h1>
        <p style="text-align:center">{{ msg }}</p>
        <p style="text-align:center">Click <a href="{{url_for('login')}}">here</a> to login.</p><br><br>
    </div>
</body>

</html>
<script>

    // Do not allow user to re-POST the data
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>